<!-- src/_includes/base.njk -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PhpStorm Tricks</title>
  <link rel="stylesheet" href="/assets/build.css">
  <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
</head>

<body class="bg-gray-100 text-gray-900 font-sans">
  <header class="py-4 text-gray-900 text-center">
    <h1 class="text-4xl font-bold">PhpStorm Live Template & Postfix Snippets</h1>
  </header>

  <main class="max-w-4xl mx-auto px-4">
  {{ content | safe }}
  </main>

  <div class="max-w-4xl mx-auto px-4">
  <div class="mb-8 p-6 bg-orange-100 shadow-lg rounded-lg">
        <p class="text-xl font-semibold mb-4 text-center">Do you speak French and want to stop hating your tests ?</p>
        <a href="https://formation.charlesdesneuf.com/ameliorez-vos-tests-automatises?utm_medium=referral&utm_source=pub&utm_campaign=phpstorm-tricks" target="_blank" >
          <img src="/assets/images/test_formation.jpg" alt='A cover picture saying "Améliorez vos tests automatisés" with a burrito.'/>
        </a>
        <p>I've created a course to help developers to <a
            href="https://formation.charlesdesneuf.com/ameliorez-vos-tests-automatises?utm_medium=referral&utm_source=pub&utm_campaign=phpstorm-tricks" target="_blank" class="font-bold">improve
          their automated tests</a>.</p>
        <p>I share ideas and technics to improve slow, flaky, failing for unexpected reason and hard to understand tests until they become tests we take joy to work with !</p>
        <p>But you'll need to understand French...</p>
        <div class="text-center mt-2">
          <a href="https://formation.charlesdesneuf.com/ameliorez-vos-tests-automatises?utm_medium=referral&utm_source=pub&utm_campaign=phpstorm-tricks" target="_blank" class="bg-orange-500 hover:bg-orange-700 rounded-lg p-3">😯 But, I speak French !</a>
        </div>
  </div>
</div>


  <footer class="bg-gray-400 py-4 text-white text-center">
    <p class="text-sm mb-2">Created by <a href="https://www.charlesdesneuf.com/" target="_blank" class="underline">Charles Desneuf</a></p>
  </footer>

</body>

</html>
