<!-- src/_includes/base.njk -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhpStorm Tricks</title>
    <link rel="stylesheet" href="/assets/build.css">
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
</head>

<body class="bg-gray-100 text-gray-900 font-sans">
<header class="py-4 text-gray-900 text-center">
    <h1 class="text-4xl font-bold">PhpStorm Live Template & Postfix Snippets</h1>
</header>

<main class="max-w-4xl mx-auto px-4">
    {{ content | safe }}
</main>

<div class="max-w-4xl mx-auto px-4">
    <div class="hidden" id="advert-0">
        Advert 0
    </div>

    <div id="advert-1" class="hidden">
        Advert 1
    </div>
</div>


<footer class="bg-gray-400 py-4 text-white text-center">
    <p class="text-sm mb-2">Created by <a href="https://www.charlesdesneuf.com/" target="_blank" class="underline">Charles
        Desneuf</a></p>
</footer>

<script>
    const random = Math.floor(Math.random() * 2);
    const id = 'advert-' + random;
    const element = document.getElementById(id);
    element.classList.remove('hidden');
</script>

</body>

</html>
