<!-- src/_includes/base.njk -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PhpStorm Tricks</title>
  <link rel="stylesheet" href="/assets/build.css">
</head>

<body class="bg-gray-100 font-sans">
  <header class="bg-blue-600 py-4 text-white text-center">
    <h1 class="text-4xl font-bold">PhpStorm Live Template Snippets</h1>
  </header>


  <main class="max-w-4xl mx-auto py-8 px-4">
  {{ content | safe }}

  </main>

</body>

</html>
