---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
  - post
  - all
permalink: /tags/{{ tag }}/
layout: base.njk
---
{%- from "macros/snippetDisplay.njk" import snippetDisplay -%}

<h2 class="text-2xl font-semibold mb-4">All "{{tag}}" Snippets</h2>
{% for snippet in collections[ tag ] %}
{{ snippetDisplay(snippet) }}
{% endfor %}

